<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Bank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/bank/add" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="nameBank">Nama Bank *</label>
            <input type="text" id="nameBank" name="nameBank" class="form-control" placeholder="Masukan Bank Name..."
              required>
          </div>
          <div class="form-group">
            <label for="nomorRekening">Nomor Rekening *</label>
            <input type="number" id="nomorRekening" name="nomorRekening" class="form-control"
              placeholder="Masukan Nomor Rekening..." required>
          </div>
          <div class="form-group">
            <label for="name">Nama Pemilik Akun Bank*</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Masukan Nama Pemilik..."
              required>
          </div>
          <div class="form-group">
            <label for="image">Image *</label>
            <input type="file" id="image" name="image" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Add</button>
        </div>
      </form>
    </div>
  </div>
</div>